[33mcommit 32b70d533b1da7e124564dea62b71ab07a865589[m[33m ([m[1;36mHEAD[m[33m -> [m[1;32mcolorscheme[m[33m)[m
Author: Tinashe <tmanchaz@gmail.com>
Date:   Tue Jun 16 17:43:05 2026 +0200

    added colors

[33mcommit e97aaf71ffdb89f4866623d5d6198736325a7e51[m[33m ([m[1;32mmain[m[33m)[m
Author: Tinashe <tmanchaz@gmail.com>
Date:   Thu Apr 9 13:39:37 2026 +0200

    reverted my change

[33mcommit ee9e0d8a8dd23183c19dfb07bb579bf720027403[m
Author: Tinashe <tmanchaz@gmail.com>
Date:   Thu Apr 9 12:27:55 2026 +0200

    added styles and js

[33mcommit 5eced7c197171a7cc09bcc6f9b8cd0f8dc9e9ff5[m
Author: Tinashe <tmanchaz@gmail.com>
Date:   Thu Apr 9 12:19:13 2026 +0200

    added front page
